##ciklai##

In [35]:
skaiciai = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

for skaicius in skaiciai:
    print(skaicius)

1
2
3
4
5
6
7
8
9
0

In [36]:
zodynas = {
    "Kysa" : "2 metai",
    "Tobikas" : "5 metai",
    "Tuzikas" : "3 metai"
}
print(zodynas)

{'Kysa': '2 metai', 'Tobikas': '5 metai', 'Tuzikas': '3 metai'}

In [37]:
suma = 0
for skaicius in skaiciai:
    print(f"turiu {suma}", end=", ")
    suma += skaicius
    print(f"pridedu {skaicius}, gaunasi {suma}")
print(suma)

turiu 0, pridedu 1, gaunasi 1
turiu 1, pridedu 2, gaunasi 3
turiu 3, pridedu 3, gaunasi 6
turiu 6, pridedu 4, gaunasi 10
turiu 10, pridedu 5, gaunasi 15
turiu 15, pridedu 6, gaunasi 21
turiu 21, pridedu 7, gaunasi 28
turiu 28, pridedu 8, gaunasi 36
turiu 36, pridedu 9, gaunasi 45
turiu 45, pridedu 0, gaunasi 45
45

In [38]:
metai = int(input("iveskite metus: "))
if (metai % 400 == 0) or (metai % 100 != 0) and (metai % 4 == 0):
    print("keliamieji metai")
else:
    print("nekeliamieji metai")

nekeliamieji metai

In [40]:
for metai in range(2000, 2100):
    if metai % 4 == 0:
        print(metai)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

In [41]:
for metai in range(2000, 2100):
    if metai % 400 == 0:
        print(metai)
    elif metai % 100 == 0:
        continue
    elif metai % 4 == 0:
        print(metai)
    else:
        continue

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

In [6]:
num = 10
while num <= 11:
    num = num - 1
    if num == -1:
        break
    print(num)

9
8
7
6
5
4
3
2
1
0