##ciklai##

In [47]:
skaiciai = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

for skaicius in skaiciai:
    print(skaicius)

1
2
3
4
5
6
7
8
9
0

In [48]:
zodynas = {
    "Kysa" : "2 metai",
    "Tobikas" : "5 metai",
    "Tuzikas" : "3 metai"
}
print(zodynas)

{'Kysa': '2 metai', 'Tobikas': '5 metai', 'Tuzikas': '3 metai'}

In [49]:
suma = 0
for skaicius in skaiciai:
    print(f"turiu {suma}", end=", ")
    suma += skaicius
    print(f"pridedu {skaicius}, gaunasi {suma}")
print(suma)

turiu 0, pridedu 1, gaunasi 1
turiu 1, pridedu 2, gaunasi 3
turiu 3, pridedu 3, gaunasi 6
turiu 6, pridedu 4, gaunasi 10
turiu 10, pridedu 5, gaunasi 15
turiu 15, pridedu 6, gaunasi 21
turiu 21, pridedu 7, gaunasi 28
turiu 28, pridedu 8, gaunasi 36
turiu 36, pridedu 9, gaunasi 45
turiu 45, pridedu 0, gaunasi 45
45

In [50]:
metai = int(input("iveskite metus: "))
if (metai % 400 == 0) or (metai % 100 != 0) and (metai % 4 == 0):
    print("keliamieji metai")
else:
    print("nekeliamieji metai")

nekeliamieji metai

In [51]:
for metai in range(2000, 2100):
    if metai % 4 == 0:
        print(metai)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

In [52]:
for metai in range(2000, 2100):
    if metai % 400 == 0:
        print(metai)
    elif metai % 100 == 0:
        continue
    elif metai % 4 == 0:
        print(metai)
    else:
        continue

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

In [53]:
num = 11
while num <= 11:
    num = num - 1
    if num == -2:
        break
    print(num)

10
9
8
7
6
5
4
3
2
1
0
-1

In [54]:
numeris = 5
while numeris >= -10:
    numeris -= 1
    if numeris == -5:
        print("ciklas sustabdytas, pasiektas -5")
        break
    elif num == 0:
        print("Ciklas pasieke 0 tesiama")
        continue
    print(numeris)

4
3
2
1
0
-1
-2
-3
-4
ciklas sustabdytas, pasiektas -5

In [55]:
skaiciukas = 0
while True:
    nr = int(input("iveskite skaiciu"))
    if nr < 0:
        break
    skaiciukas += nr
print (skaiciukas)

25555

tuples

In [59]:
grupes_tuples = ("Linkin park", "Metallica", "Jay-z", "Rondo", "Delfinai")
print(grupes_tuples)
grupes2_tuples = ("stano", "50 cent", "Eminem", "Aqua", "Delfinai")
sujungta_tuples = grupes_tuples + grupes2_tuples
print(sujungta_tuples)
print(grupes_tuples[0])
print(grupes_tuples[2])
print(grupes_tuples[-1])
print(grupes_tuples[::2])
print(sujungta_tuples.count("Delfinai"), "kartus pasikartoja Delfinai")
print(sujungta_tuples.index("Delfinai"))
print("Delfinai" in sujungta_tuples)
print("delfinai" in sujungta_tuples)
for grupes in sujungta_tuples:
    print(grupes)

('Linkin park', 'Metallica', 'Jay-z', 'Rondo', 'Delfinai')
('Linkin park', 'Metallica', 'Jay-z', 'Rondo', 'Delfinai', 'stano', '50 cent', 'Eminem', 'Aqua', 'Delfinai')
Linkin park
Jay-z
Delfinai
('Linkin park', 'Jay-z', 'Delfinai')
2 kartus pasikartoja Delfinai
4
True
False
Linkin park
Metallica
Jay-z
Rondo
Delfinai
stano
50 cent
Eminem
Aqua
Delfinai

##aibes##

In [64]:
skaiciu_aibe = { 1, 2, 3, 4, 5, 6}
skaiciu_aibe.add(9)
print(skaiciu_aibe)

{1, 2, 3, 4, 5, 6, 9}

In [65]:
skaiciu_aibe2 = { 9, 8, 7, 6, 5, 4}
skaiciu_aibe2.remove (8)
print(skaiciu_aibe2)

{4, 5, 6, 7, 9}

In [66]:
aibe3 = skaiciu_aibe2.intersection(skaiciu_aibe)
print(aibe3)

{9, 4, 5, 6}

In [67]:
aibe4 = skaiciu_aibe.difference(skaiciu_aibe2)
print(aibe4)

{1, 2, 3}

In [68]:
aibe5 = skaiciu_aibe2.difference(skaiciu_aibe)
print(aibe5)

{7}

In [71]:
aibe_kvadratu = {x**2 for x in aibe5}
print("aibe pakelta kvadratu: ", aibe_kvadratu)
print(type(aibe_kvadratu))

aibe pakelta kvadratu:  {49}
<class 'set'>